extends layout

block content
    div(style="width: 75%; margin:auto;")
        table(class="w3-table w3-striped w3-bordered")
            thead
                    tr.w3-blue-grey
                        th
                        th="Exercise Name:"
                        th="Weight:"
                        th="Sets:"
                        th="Reps:"
            each lifting in lifts
                tr(id=lifting.id)
                    td(onclick="exercises.deleteLifting('" + lifting.id + "')")
                        | delete
                    td= lifting.exerciseName
                    td= lifting.weight
                    td= lifting.sets
                    td= lifting.reps
        br
        button(onclick="location.href='/lifting/exercise'" class="w3-btn w3-blue-grey")
            | Add
